<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>avodha shopping</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'hm/layout/styles/dropdownstyle.css' %}" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <section id="introblocks" style="margin-top:40px;">
      <ul class="nospace group btmspace-80">
        {% for i in pr %}
        <li class="one_quarter">
          <figure><a href="{{i.get_url}}"><img src="{{i.img.url}}" style="height:200px; width: 250px;" alt=""></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:8}}</p>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </main>
</div>

</body>
</html>
{% endblock %}
